<!-- $Id: wxch_pay.htm 2014-03-11 djks $ -->
{include file="wxch_pageheader.htm"}
<div class="main-div">

  <form name="theForm" method="post" action="wxch-ent.php?act=pay" >

  <table width="100%" >

  <tr>

    <td class="label">AppID:</td>

    <td><input type="text" name="appid" size="20" value="{$data.appid}"/></td>

  </tr>

  <tr>

    <td class="label">PaySignKey :</td>

    <td><input type="text " name="paysignkey" size="20" value="{$data.paysignkey}"/></td>

  </tr>

 <tr>

    <td class="label">PartnerKey :</td>

    <td><input type="text " name="partnerkey" size="32" value="{$data.partnerkey}"/></td>

  </tr>

 <tr>

    <td class="label">AppSecret :</td>

    <td><input type="text " name="appsecret" size="32" value="{$data.appsecret}"/></td>

  </tr>

  <tr>

    <td colspan="2" align="center">

      <input type="submit" value="{$lang.button_submit}" class="button" />

      <input type="reset" value="{$lang.button_reset}" class="button" />

    </td>

  </tr>

</table>

  </form>



</div>



{include file="wxch_pagefooter.htm"}