<!-- $Id: wxch_regmsg.html  2013-10-16 10:30 Z djks $ -->
{include file="wxch_pageheader.htm"}
{insert_scripts files="../data/static/js/utils.js,./js/selectzone.js,./js/colorselector.js"}

<script type="text/javascript" src="../data/static/js/calendar.php?lang={$cfg_lang}"></script>

<link href="../data/static/js/calendar/calendar.css" rel="stylesheet" type="text/css" />



{if $warning}

<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">

    <li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;" >{$warning}</li>

</ul>

{/if}



<!-- start goods form -->

<div class="tab-div">

<!-- tab bar -->

<div id="tabbar-div">

    <p>

        <span class="tab-front" id="general-tab">设置</span>

    </p>

</div>



<!-- tab body -->

<div id="tabbody-div">

<form action="" method="post" name="form1" >

<!-- 通用信息 -->

<table width="100%" id="general-table" align="center">

    <tr>

        <td class="label">关注回复内容：</td>

        <td>

            {$FCKeditor}

        </td>

    </tr>

</table>







<div class="button-div">

    <input type="submit" value="{$lang.button_submit}" class="button" />

    <input type="reset" value="{$lang.button_reset}" class="button" />

</div>

<input type="hidden" name="act" value="{$form_act}" />

</form>

</div>

</div>

<!-- end goods form -->

{insert_scripts files="./js/validator.js,./js/tab.js"}



{include file="wxch_pagefooter.htm"}

